h1.svelte-i7qo5m{color:purple}
#gamefield.svelte-1rma6ou{position:relative}
.gem.svelte-p6uqg8{position:absolute;margin:4px;width:54px;height:54px;border:1px solid white;cursor:pointer}.active.svelte-p6uqg8::after{content:'';position:absolute;top:-5px;left:-5px;display:block;width:54px;height:54px;border:5px solid white}.remove.svelte-p6uqg8{border:none;cursor:default}

/*# sourceMappingURL=bundle.css.map */