{#each list as n (n)}
  <Gem 
    row={1}
    column={n}
    field={n}
    gemSize={64}
    bgColor={"orange"}
    active="{pick === `${1}_${n}` && n > 0}"
    onClick="{(row, column) => pick = `${row}_${column}`}"/>
{/each}

<script>
	import { flip } from 'svelte/animate';
  import { quintOut } from 'svelte/easing';
  import Gem from './Gem.svelte'

  let pick = ''

	let list = [1, 2, 3];
</script>
