<Animate	/>
<h1>Hello {name}!</h1>
<Counter/>
<GameField/>

<script>
	import Animate from './Animate.svelte'
	import Counter from './Counter.svelte'
	import GameField from './GameField.svelte'

	export let name;
</script>

<style>
	h1 {
		color: purple;
	}
</style>
