<div id="gamefield" style="width: {numCols * gemSize}px; height: {numRows * gemSize}px">
  {#each jewels as jewel, i}
    {#each jewel as field, j}
      <Gem 
        row={i}
        column={j}
        field={field}
        gemSize={gemSize}
        bgColor={field < 0 ? 'transparent' : bgColors[field]}
        remove="{field < 0}"
        active="{pick === `${i}_${j}` && field > 0}"
        onClick="{(row, column) => pick = `${row}_${column}`}"/>
    {/each}
  {/each}
</div>

<script>
  import Gem from './Gem.svelte'
  import checkMoving from './utils/checkMoving'
  import isStreak from './utils/isStreak'
  import emitter from './utils/events'

   /* настройки */
  let gemSize = 64; // размер гема
  let numRows = 6; // количество рядов
  let numCols = 7; // количество колонок
  let jewels = new Array(); // двумерный массив гемов на поле
  let gameState = "pick"; // текущее состояние поля - ожидание выбора гема
  let pick = '' // активная ячейка

  emitter.emit('gameState', 'pick');
  emitter.emit('gameSize', {rows: numRows, cols: numCols});

  /* цвета гемов */
  let bgColors = new Array(
    "magenta",
    "mediumblue",
    "yellow",
    "lime",
    "cyan",
    "orange",
    "crimson",
    "gray"
  );

  /* генерация исходного набора гемов */
  for(let i = 0; i < numRows; i++){
    jewels[i] = new Array();
    for(let j = 0; j < numCols; j++){
      /*
        Cоздать гем со случайным цветом
        записать его в сетку jewels,
        создать DOM-элемент, раскрасить его и поместить его на поле
      */
      do {
        jewels[i][j] = Math.floor(Math.random() * 8)
        emitter.emit('jewels', jewels);
      } while (isStreak(i, j))
    }
  }

  emitter.on('jewels', (data) => {
    console.log('jewels', data)
    jewels = data
  });

  emitter.on('gameState', (state, selected, pos) => {
    console.log('gameState', state)
    gameState = state
    checkMoving(selected, pos)
  });

</script>

<style>
  #gamefield {
    position: relative;
  }


</style>
