<div
  style="background-color: {bgColor}; top: {row * gemSize + 4}px; left: {column * gemSize + 4}px"
  field={field}
  class={gemClass} id="gem_{row}_{column}"
  class:active={active}
  class:remove={remove}
  on:click={(e) => onClickGem(e)}
  in:receive="{{key: field}}"
  out:send="{{key: field}}"
  >
</div>

<script>
  import tapHandler from "./utils/tapHandler";
  import { quintOut } from 'svelte/easing';
  import { crossfade } from 'svelte/transition';
  import { flip } from 'svelte/animate';
  
  export let row, column, field, gemSize, bgColor, active, remove, onClick

  let gemClass = "gem"; // класс элементов-гемов

  function onClickGem(e) {
    onClick(row, column)
    tapHandler(e)
  }

  const [send, receive] = crossfade({
		duration: d => Math.sqrt(d * 200),

		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			return {
				duration: 600,
				easing: quintOut,
				css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});
</script>

<style>
  .gem {
    position: absolute;
    margin: 4px;
    width: 54px;
    height: 54px;
    border: 1px solid white;
    cursor: pointer;
  }

  .active::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    display: block;
    width: 54px;
    height: 54px;
    border: 5px solid white;
  }

  .remove {
    border: none;
    cursor: default;
  }
</style>
